{% extends 'main/appsbase.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content2 %}
    <div id="bg-home" class="center-horizontal">

      <!-- CREATE NOTE -->
      <div id="note-buttons"> 
        <button id="note-btn" type="button" data-toggle="modal" data-target="#createModal" class="create-note-btn btn text-light">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg>
        </button>
      </div>

        <!--HEADERS OF NOTES --> 
      <div class="notes-container">
        {% for note in page_obj %}
            <div type="button" data-toggle="modal" data-target="#noteModal{{ note.id }}">
              <article class="header-section text-light mt-3">
                  <h5 class="article-title text-light">{{ note.title }}</h5>
                  <div class="article-metadata">
                    <small class="text-light">{{ note.date_posted|date:"F d, Y" }}</small>                  
                    <small class="article-content ml-2 text-light">{{ note.body|truncatechars:50 }}</small>
                  </div>
              </article>
            </div>
        {% endfor %}
      </div>

        <!--BODY OF NOTES-->
        {% for note in page_obj %}
          <div class="modal fade" id="noteModal{{ note.id }}" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header" style="display: flex !important; justify-content: center; align-items: center;">
                  <form action="{% url 'notes-delete' id=note.id %}" method="POST" style="margin: 10px;">
                    {% csrf_token %}
                    <button id="note-btn" type="submit" class="remove-note-btn btn text-light">
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                      </svg>
                    </button>
                  </form>
                  <form action="{% url 'notes-edit' id=note.id %}" style="margin: 10px;">
                    {% csrf_token %}
                    <button id="note-btn" type="submit" class="create-note-btn btn text-light">
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>
                    </button>
                  </form>
                </div>  
                <div class="modal-body">
                  <div class="note-content">
                    <h5 class="text-dark">{{ note.title }}</h5>
                    <p class="text-dark">{{ note.body }}</p>
                    <small class="text-dark">{{ note.date_posted|date:"F d, Y" }}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

        <!--CREATE NEW NOTE-->
        <div class="modal fade" id="createModal" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header" style="text-align: center;">
                <h5 class="modal-title" id="createModal">NEW NOTE</h5>
              </div>
              <div class="modal-body">
                <form id="Note" class="content-section text-light" method="POST" autocomplete="off">
                  {% csrf_token %}
                  {{ noteform|crispy }}
                  <button id="note-add-btn" type="submit" class="btn-outline-light text-light">Add</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        {% include 'notes/pagination.html' with notes=notes %}
    </div>

    <!--Core Note Logic-->
{% endblock content2 %}
