{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div id="bg-home" class="center">
    <div class="card text-light">
        <form method="POST">
            {% csrf_token %}
            <div class="card-body">
                <h2 class="card-title">Log In</h2>
                    {{ form|crispy }}
                <button type="submit" class="btn btn-outline-light btn-lg">Log in</button>
                <small class="text-light">
                    Need An Account? 
                    <a class="ml-2" href="{% url 'users-register' %}">Sign Up Now</a>
                </small>
            </div>
        </form>
    </div>
</div>

{% endblock content %}
